name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          working_directory: lectures
          latexmk_use_lualatex: true
        env:
          TEXINPUTS: ".:../configs//:"
          
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: lectures/main.pdf
          compression-level: 0
          overwrite: true
